ADF_practice/pipeline/pl_extract_from_sqldb.json
{
	"name": "pl_extract_from_sqldb",
	"properties": {
		"activities": [
			{
				"name": "Pl_extract_from_sql",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get_task_parameter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\n    activity('get_task_parameter').output.firstRow,\n    ' where ModifiedDate > ', '''', activity('get_last_run_date').output.firstRow.last_run_date, '''' )\n    \n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_generic_sqldb",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_generic_adls_csv",
						"type": "DatasetReference",
						"parameters": {
							"p_target_folder": "customer",
							"p_target_filename": "customer.csv"
						}
					}
				]
			},
			{
				"name": "get_task_parameter",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "get_last_run_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[control].[sp_task_parameters]",
						"storedProcedureParameters": {
							"job": {
								"type": "String",
								"value": "load_customer"
							},
							"job_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"task": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"task_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"task_sequence": {
								"type": "Int32",
								"value": "1"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_generic_sqldb",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "log_start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[control].[sp_job_task_log]",
					"storedProcedureParameters": {
						"job": {
							"value": "load_customer",
							"type": "String"
						},
						"job_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"job_status": {
							"value": "",
							"type": "String"
						},
						"status_description": {
							"value": "",
							"type": "String"
						},
						"task": {
							"value": "start_extract_task",
							"type": "String"
						},
						"task_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"task_sequence": {
							"value": "1",
							"type": "Int32"
						},
						"task_status": {
							"value": "Running",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LN_azuresql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "end_success_task",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "update_last_eun_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[control].[sp_job_task_log]",
					"storedProcedureParameters": {
						"job": {
							"value": "load_customer",
							"type": "String"
						},
						"job_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"job_status": {
							"value": "",
							"type": "String"
						},
						"status_description": {
							"value": "",
							"type": "String"
						},
						"task": {
							"value": "end_extract_task",
							"type": "String"
						},
						"task_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"task_sequence": {
							"value": "1",
							"type": "Int32"
						},
						"task_status": {
							"value": "Success",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LN_azuresql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "end_failure_task",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "update_job_control_failure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[control].[sp_job_task_log]",
					"storedProcedureParameters": {
						"job": {
							"value": "load_customer",
							"type": "String"
						},
						"job_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"job_status": {
							"value": "",
							"type": "String"
						},
						"status_description": {
							"value": "",
							"type": "String"
						},
						"task": {
							"value": "Error_extract_task",
							"type": "String"
						},
						"task_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"task_sequence": {
							"value": "1",
							"type": "Int32"
						},
						"task_status": {
							"value": "Error",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LN_azuresql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "update_job_control_running",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "log_start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[control].[sp_update_job_control]",
					"storedProcedureParameters": {
						"job": {
							"value": "load_customer",
							"type": "String"
						},
						"job_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"task": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"task_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"task_status": {
							"value": "Running",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LN_azuresql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "update_job_control_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Pl_extract_from_sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[control].[sp_update_job_control]",
					"storedProcedureParameters": {
						"job": {
							"value": "load_customer",
							"type": "String"
						},
						"job_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"task": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"task_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"task_status": {
							"value": "Success",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LN_azuresql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "update_job_control_failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Pl_extract_from_sql",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[control].[sp_update_job_control]",
					"storedProcedureParameters": {
						"job": {
							"value": "load_customer",
							"type": "String"
						},
						"job_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"task": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"task_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"task_status": {
							"value": "Error",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LN_azuresql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "get_last_run_date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "update_job_control_running",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[control].[sp_get_last_run_date]",
						"storedProcedureParameters": {
							"job": {
								"type": "String",
								"value": "load_customer"
							},
							"task": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_generic_sqldb",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "update_last_eun_date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "update_job_control_success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[control].[sp_update_last_run_date]",
					"storedProcedureParameters": {
						"job": {
							"value": "load_customer",
							"type": "String"
						},
						"last_run_date": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"task": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LN_azuresql",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Framework"
		},
		"annotations": []
	}
}