datafactory0709/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "datafactory0709"
		},
		"LN_adls_Gen2_devaccount_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://datafactory0709storage.dfs.core.windows.net/"
		},
		"LN_azuresql_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "devdk2024sep.database.windows.net"
		},
		"LN_azuresql_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "dev-db"
		},
		"LN_azuresql_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "bf3672d9-59d2-423a-81e5-b9bea67642e0"
		},
		"LN_azuresql_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "353f4a9d-db4b-45f6-afc6-03ae09877325"
		},
		"LN_dev_akv_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://databricks-secret-255.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_extract_from_sqldb')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pl_extract_from_sql",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "get_task_parameter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat(\n    activity('get_task_parameter').output.firstRow.src_sql,\n    ' where ModifiedDate > ', '''', activity('get_last_run_date').output.firstRow.last_run_date, '''' )\n    \n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_generic_sqldb",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_generic_adls_csv",
								"type": "DatasetReference",
								"parameters": {
									"p_target_folder": "customer",
									"p_target_filename": "customer.csv"
								}
							}
						]
					},
					{
						"name": "get_task_parameter",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "get_last_run_date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[control].[sp_task_parameters]",
								"storedProcedureParameters": {
									"job": {
										"type": "String",
										"value": "load_customer"
									},
									"job_id": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"task": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"task_id": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"task_sequence": {
										"type": "Int32",
										"value": "1"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_generic_sqldb",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "log_start",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[control].[sp_job_task_log]",
							"storedProcedureParameters": {
								"job": {
									"value": "load_customer",
									"type": "String"
								},
								"job_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"job_status": {
									"value": "",
									"type": "String"
								},
								"status_description": {
									"value": "",
									"type": "String"
								},
								"task": {
									"value": "start_extract_task",
									"type": "String"
								},
								"task_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"task_sequence": {
									"value": "1",
									"type": "Int32"
								},
								"task_status": {
									"value": "Running",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_azuresql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "end_success_task",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "update_last_eun_date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[control].[sp_job_task_log]",
							"storedProcedureParameters": {
								"job": {
									"value": "load_customer",
									"type": "String"
								},
								"job_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"job_status": {
									"value": "",
									"type": "String"
								},
								"status_description": {
									"value": "",
									"type": "String"
								},
								"task": {
									"value": "end_extract_task",
									"type": "String"
								},
								"task_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"task_sequence": {
									"value": "1",
									"type": "Int32"
								},
								"task_status": {
									"value": "Success",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_azuresql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "end_failure_task",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "update_job_control_failure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[control].[sp_job_task_log]",
							"storedProcedureParameters": {
								"job": {
									"value": "load_customer",
									"type": "String"
								},
								"job_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"job_status": {
									"value": "",
									"type": "String"
								},
								"status_description": {
									"value": "",
									"type": "String"
								},
								"task": {
									"value": "Error_extract_task",
									"type": "String"
								},
								"task_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"task_sequence": {
									"value": "1",
									"type": "Int32"
								},
								"task_status": {
									"value": "Error",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_azuresql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "update_job_control_running",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "log_start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[control].[sp_update_job_control]",
							"storedProcedureParameters": {
								"job": {
									"value": "load_customer",
									"type": "String"
								},
								"job_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"task": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"task_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"task_status": {
									"value": "Running",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_azuresql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "update_job_control_success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Pl_extract_from_sql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[control].[sp_update_job_control]",
							"storedProcedureParameters": {
								"job": {
									"value": "load_customer",
									"type": "String"
								},
								"job_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"task": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"task_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"task_status": {
									"value": "Success",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_azuresql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "update_job_control_failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Pl_extract_from_sql",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[control].[sp_update_job_control]",
							"storedProcedureParameters": {
								"job": {
									"value": "load_customer",
									"type": "String"
								},
								"job_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"task": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"task_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"task_status": {
									"value": "Error",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_azuresql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "get_last_run_date",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "update_job_control_running",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[control].[sp_get_last_run_date]",
								"storedProcedureParameters": {
									"job": {
										"type": "String",
										"value": "load_customer"
									},
									"task": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_generic_sqldb",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "update_last_eun_date",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "update_job_control_success",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[control].[sp_update_last_run_date]",
							"storedProcedureParameters": {
								"job": {
									"value": "load_customer",
									"type": "String"
								},
								"last_run_date": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"task": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_azuresql",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Framework"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_generic_sqldb')]",
				"[concat(variables('factoryId'), '/datasets/ds_generic_adls_csv')]",
				"[concat(variables('factoryId'), '/linkedServices/LN_azuresql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_generic_adls_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_adls_Gen2_devaccount",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_target_folder": {
						"type": "string"
					},
					"p_target_filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_target_filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().p_target_folder",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_adls_Gen2_devaccount')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_generic_sqldb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_azuresql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "SalesLT",
					"table": "Customer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_azuresql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LN_adls_Gen2_devaccount')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LN_adls_Gen2_devaccount_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LN_azuresql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LN_azuresql_properties_typeProperties_server')]",
					"database": "[parameters('LN_azuresql_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "ServicePrincipal",
					"servicePrincipalId": "[parameters('LN_azuresql_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredential": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LN_dev_akv",
							"type": "LinkedServiceReference"
						},
						"secretName": "dev-etl-sp-secret"
					},
					"tenant": "[parameters('LN_azuresql_properties_typeProperties_tenant')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_dev_akv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LN_dev_akv')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LN_dev_akv_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_load_into_stg')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_task_parameter",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "update_job_control_running",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[control].[sp_task_parameters]",
								"storedProcedureParameters": {
									"job": {
										"type": "String",
										"value": "load_customer"
									},
									"job_id": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"task": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"task_id": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"task_sequence": {
										"type": "Int32",
										"value": "2"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_generic_sqldb",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "log_start",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[control].[sp_job_task_log]",
							"storedProcedureParameters": {
								"job": {
									"value": "load_customer",
									"type": "String"
								},
								"job_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"job_status": {
									"value": "",
									"type": "String"
								},
								"status_description": {
									"value": "Started runnig load task",
									"type": "String"
								},
								"task": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"task_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"task_sequence": {
									"value": "2",
									"type": "Int32"
								},
								"task_status": {
									"value": "Running",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_azuresql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "end_success_task",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "update_job_control_success",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[control].[sp_job_task_log]",
							"storedProcedureParameters": {
								"job": {
									"value": "load_customer",
									"type": "String"
								},
								"job_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"job_status": {
									"value": "",
									"type": "String"
								},
								"status_description": {
									"value": "",
									"type": "String"
								},
								"task": {
									"value": "end_extract_task",
									"type": "String"
								},
								"task_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"task_sequence": {
									"value": "2",
									"type": "Int32"
								},
								"task_status": {
									"value": "Success",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_azuresql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "end_failure_task",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "update_job_control_failure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[control].[sp_job_task_log]",
							"storedProcedureParameters": {
								"job": {
									"value": "load_customer",
									"type": "String"
								},
								"job_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"job_status": {
									"value": "",
									"type": "String"
								},
								"status_description": {
									"value": "",
									"type": "String"
								},
								"task": {
									"value": "Error_extract_task",
									"type": "String"
								},
								"task_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"task_sequence": {
									"value": "2",
									"type": "Int32"
								},
								"task_status": {
									"value": "Error",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_azuresql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "update_job_control_running",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "log_start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[control].[sp_update_job_control]",
							"storedProcedureParameters": {
								"job": {
									"value": "load_customer",
									"type": "String"
								},
								"job_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"task": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"task_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"task_status": {
									"value": "Running",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_azuresql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "update_job_control_success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "load_staging_table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[control].[sp_update_job_control]",
							"storedProcedureParameters": {
								"job": {
									"value": "load_customer",
									"type": "String"
								},
								"job_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"task": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"task_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"task_status": {
									"value": "Success",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_azuresql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "update_job_control_failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "load_staging_table",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[control].[sp_update_job_control]",
							"storedProcedureParameters": {
								"job": {
									"value": "load_customer",
									"type": "String"
								},
								"job_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"task": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"task_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"task_status": {
									"value": "Error",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_azuresql",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "load_staging_table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "get_task_parameter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SalesLT].[sp_load_stg]",
							"storedProcedureParameters": {
								"filepath": {
									"value": {
										"value": "@activity('get_task_parameter').output.firstRow.src_path",
										"type": "Expression"
									},
									"type": "String"
								},
								"stgtablename": {
									"value": {
										"value": "@activity('get_task_parameter').output.firstRow.tgt_stg_table",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_azuresql",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Framework"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_generic_sqldb')]",
				"[concat(variables('factoryId'), '/linkedServices/LN_azuresql')]"
			]
		}
	]
}